@import '../styles/colors';

.button {
  border-radius: 50px;
  border: none;
  padding: 0 1em;
}

.is-primary {
  background-color: $lab-blue;
  color: $light-color;

  &:hover {
    background-color: $lab-blue-hover;
    color: $light-color;
  }
}