@import '../styles/colors';

.lab-section {
  padding: 4em 0;
}
.lab-section-title {
  color: $lab-blue;
  font-family: 'Lato-Heavy';
  font-size: 3em;
  font-weight: 700;
  padding: 0 150px;
}

.lab-section-content {
  padding: 0 150px;
}
.lab-section-divider {
  height: 7px;
  position: relative;
  top: -.8em;
  width: 110px;
}